body {
    background: linear-gradient(to right, #c0bebe, #eaeaee);
    margin: 0.1rem;
    padding: 0;
}


a:hover {
    background-color: #555;
    color: white;
    transform: scale(0.95);
    transition: all 0.3s ease;
}