<script src="https://accounts.google.com/gsi/client" async defer></script>
<div id="g_id_onload"
     data-client_id="1073985485921-2v7sotpbkku87eh7ef3moggs12cdgoi2.apps.googleusercontent.com"
     data-callback="handle_credential_response">
</div>
<div class="g_id_signin" data-type="standard"></div>
<script>
    async function handle_credential_response(response) {
        await fetch('http://localhost:3000/auth', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({token: response.credential})
        })
    }
</script>
